bitsandbytes-cuda111==0.26.0
black
datasets==1.16.1
deepmultilingualpunctuation==1.0.1
gradio==3.0.26
huggingface-hub==0.7.0
langdetect==1.0.9
language-tool-python==2.7.1
matplotlib==3.5.2
nltk==3.7
pandas==1.2.4
plotly==5.8.0
PyYAML==5.4.1
tokenizers==0.10.3
torch==1.8.1
tqdm
transformers==4.14.1
